<div class="create-invite-wrapper">
  <nb-card>
    <nb-card-header>
      <ng-container *ngIf="examName">
        <span>{{examName}}</span>
      </ng-container>
      <ng-container *ngIf="!examName">
        <span>{{'Exam name' | translate}}</span>
      </ng-container>
    </nb-card-header>
    <nb-card-body>
      <div class="input-wrapper">
        <label for="invite-input">{{'Enter invite code' | translate}}</label>
        <form [formGroup]="form">
          <input formControlName="invitationCode" id="invite-input" nbInput>
        </form>
      </div>
      <button (click)="appendInvite()" nbButton status="success"><span>{{'Apply invite' | translate}}</span></button>
    </nb-card-body>
  </nb-card>
</div>
