<div class="manage-database-wrapper">
  <nb-card [nbSpinner]="this.isLoading" nbSpinnerSize="large" nbSpinnerStatus="danger">
    <nb-card-header>
      {{'Manage database' | translate}}
    </nb-card-header>
    <nb-card-body>
      <div class="query-editor-wrapper">
        <label for="sql-editor">
          {{'Paste code' | translate}}
        </label>
        <form [formGroup]="form">
          <textarea formControlName="query" id="sql-editor" nbInput></textarea>
        </form>
        <ng-container *ngIf="affectedRows">
          <span>{{'Affected rows: ' | translate}}{{affectedRows}}</span>
        </ng-container>
      </div>
      <div (click)="checkQuery(dialog)" class="button-wrapper">
        <button nbButton status="danger">
          {{'Execute query' | translate}}
        </button>
      </div>
    </nb-card-body>
  </nb-card>

  <ng-template #dialog let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <div>
          {{'Warning' | translate}}
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="warning-wrapper">
          <div class="buttons">
            <div class="button-item">
              <button (click)="setAccepted(true)" nbButton status="success">{{'Accept' | translate}}</button>
            </div>
            <div class="button-item">
              <button (click)="setAccepted(false)" nbButton status="danger">{{'Decline' | translate}}</button>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

  </ng-template>
</div>
