<div class="create-invite-wrapper">
  <nb-card>
    <nb-card-header>
      <span>{{'Your invite code' | translate}}</span>
    </nb-card-header>
    <nb-card-body>
      <div class="invite-main">
        <div class="invite-wrapper">
          <ng-container *ngIf="!inviteCode">
            <p>{{'Here will be your invite code' | translate}}</p>
          </ng-container>
          <div>
            <ng-container *ngIf="inviteCode">
              <p>{{'Your invite code' | translate}}</p>
              <p>{{'Send it to the person you want to give access to the exam in any way convenient for you.' | translate}}</p>
              {{inviteCode}}
            </ng-container>

            <button ghost nbButton size="giant" status="primary">
              <fa-icon (click)="copyCode()" [icon]="faCopy"></fa-icon>
            </button>
            <button nbButton routerLink="/dashboard" status="primary"><span>{{'Go to Dashboard' | translate}}</span></button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
