.header-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 1%;
}

nb-action {
  margin-left: 40%;
}

.link {
  cursor: pointer;
  border: none;
  margin-left: 5%;
  outline: none;
  display: flex;
  justify-items: center;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 40%;
}

span {
  display: block;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo img {
  width: 50px;
  height: 50px;
}

nb-layout-column {
  background-image: url("../assets/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
