<div class="resolve-whitespaces">
  <nb-layout>
    <nb-layout-header fixed>
      <div class="header-wrapper">
        <div class="header-wrapper-left">
          <ng-container *ngIf="isAuthenticated">
            <div class="logo header-item" routerLink="/dashboard"><img alt="{{'Main Page' | translate}}"
                                                                       src="../assets/400x400_logo.png"></div>
          </ng-container>
          <ng-container *ngIf="!isAuthenticated">
            <div class="logo header-item" routerLink="/authorize/login"><img alt="{{'Main Page' | translate}}"
                                                                             src="../assets/400x400_logo.png"></div>
          </ng-container>
          <ng-container *ngIf="isExamined">
            <div class="link header-item" routerLink="/invites/append"><span>{{'Enter the code' | translate}}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="isExaminer || isAdmin">
            <div class="link header-item" routerLink="/exams/exam/create"><span>{{'Create' | translate}}
              <br>{{'exam' | translate}}</span></div>
          </ng-container>
          <ng-container *ngIf="isAdmin">
            <div class="link header-item" routerLink="/admin"><span>{{'Admin' | translate}}
              <br>{{'page' | translate}}</span></div>
          </ng-container>
          <ng-container *ngIf="!isAuthenticated">
            <div class="link header-item" routerLink="/authorize/register"><span>{{'Register' | translate}}</span></div>
            <div class="link header-item" routerLink="/authorize"><span>{{'Login' | translate}}</span></div>
          </ng-container>
        </div>

        <div class="header-wrapper-right">
          <div class="header-item">
            <nb-toggle status="primary" (checkedChange)="changeLanguage()"
                       [(ngModel)]="isEn">{{currentLang.getValue()}}</nb-toggle>
          </div>
          <div class="header-item">
            <ng-container *ngIf="isAuthenticated">
              <div (click)="logout()" class="link"><span>{{'Logout' | translate}}</span></div>
            </ng-container>
          </div>
        </div>
      </div>
    </nb-layout-header>
    <nb-sidebar state="collapsed" id="menu">
      <div class="header-item">
        <nb-toggle status="primary" (checkedChange)="changeLanguage()"
                   [(ngModel)]="isEn">{{currentLang.getValue()}}</nb-toggle>
      </div>
      <div class="header-item">
        <ng-container *ngIf="isAuthenticated">
          <div (click)="logout()" class="link"><span>{{'Logout' | translate}}</span></div>
        </ng-container>
      </div>
    </nb-sidebar>
    <nb-layout-column>
      <router-outlet>
      </router-outlet>
    </nb-layout-column>
  </nb-layout>
</div>
