<nb-layout>
  <nb-layout-header fixed>
    <div class="header-wrapper">
      <div class="header-wrapper-left">
        <div class="logo header-item"><img alt="{{'Remote Examination System' | translate}}" src="../assets/400x400_logo.png"></div>
        <ng-container *ngIf="isAuthenticated">
          <div class="link header-item" routerLink="/dashboard"><span>{{'Main Page' | translate}}</span></div>
        </ng-container>
        <ng-container *ngIf="isExamined">
          <div class="link header-item" routerLink="/invites/append"><span>{{'Enter the code' | translate}}</span></div>
        </ng-container>
        <ng-container *ngIf="isExaminer || isAdmin">
          <div class="link header-item" routerLink="/exams/exam/create"><span>{{'Create' | translate}}
            <br>{{'exam' | translate}}</span></div>
        </ng-container>
        <ng-container *ngIf="!isAuthenticated">
          <div class="link header-item" routerLink="/authorize/register"><span>{{'Register' | translate}}</span></div>
          <div class="link header-item" routerLink="/authorize"><span>{{'Login' | translate}}</span></div>
        </ng-container>
      </div>

      <div class="header-wrapper-right">
        <div class="header-item">
          <nb-toggle status="primary" (checkedChange)="changeLanguage()" [(ngModel)]="isUa">{{currentLang}}</nb-toggle>
        </div>
        <div class="header-item">
          <ng-container *ngIf="isAuthenticated">
            <div (click)="logout()" class="link"><span>{{'Logout' | translate}}</span></div>
          </ng-container>
        </div>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet>
    </router-outlet>
  </nb-layout-column>
</nb-layout>
