.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-wrapper-left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-wrapper-right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.link {
  cursor: pointer;
  outline: none;
  vertical-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

span {
  display: block;
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo img {
  width: 50px;
  height: 50px;
}

nb-layout-column {
  background-image: url("../assets/background.jpg");
  background-position: center;
  background-size: cover;
}

nb-toggle {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .header-wrapper-right {
    flex-direction: row;
  }
  .header-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    margin-right: 2%;
  }
}
