<div class="exam-wrapper">
  <nb-card>
    <nb-card-header>
      <div class="exam-form-wrapper">
        <form [formGroup]="examNameForm">
          <div class="examNameWrapper">
            <label for="examName" i18n>Введите название экзамена</label>
            <input formControlName="examName" id="examName" nbInput placeholder="Название экзамена" type="text">
          </div>
        </form>
      </div>
    </nb-card-header>
    <nb-accordion multi>

        <nb-accordion-item *ngFor="let question of exam.questions">
          <nb-accordion-item-header>
            {{question.questionMessage}}
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <nb-list>
              <nb-list-item *ngFor="let answer of question.answers">
                <div class="answer-wrapper">
                  <div>
                    <span i18n>{{answer.value}}</span>
                  </div>
                  <div>
                    <fa-icon [icon]="faCheck"></fa-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div class="answer-wrapper">
                  <div>
                    <span i18n>Добавить ответ</span>
                  </div>
                  <div>
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </div>
                </div>
              </nb-list-item>
            </nb-list>
          </nb-accordion-item-body>
        </nb-accordion-item>

    </nb-accordion>
  </nb-card>
</div>
