.exam-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nb-card {
  max-width: 600px;
  min-width: 40%;
}

.examNameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
