<div class="competition-wrapper">
  <nb-card>
    <nb-card-header>
      <span>{{'Exam: ' | translate}}</span>
      <span>{{exam.name}}</span>
    </nb-card-header>
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step *ngFor="let question of exam.questions; let i = index">
          <div class="step-wrapper">
            <div class="step-exam-wrapper">
              <div class="step-exam-wrapper-question">
                <span>{{'Question' | translate}}</span>
                <span>{{question.questionMessage}}</span>
              </div>
              <div class="step-exam-wrapper-answers">
                <nb-list>
                  <nb-list-item *ngFor="let answer of question.answers; let j = index">
                    <nb-checkbox (checkedChange)="touchAnswer(i, j)"></nb-checkbox>
                    <span>{{answer.value}}</span>
                  </nb-list-item>
                </nb-list>
              </div>
            </div>
            <div class="step-navigation-wrapper">
              <ng-container *ngIf="i === 0">
                <button disabled nbButton nbStepperPrevious><span>{{'Previous' | translate}}</span></button>
              </ng-container>
              <ng-container *ngIf="i !== 0">
                <button nbButton nbStepperPrevious><span>{{'Previous' | translate}}</span></button>
              </ng-container>
              <ng-container *ngIf="exam.questions.length-1 === i">
                <button disabled nbButton nbStepperNext><span>{{'Next' | translate}}</span></button>
              </ng-container>
              <ng-container *ngIf="exam.questions.length-1 !== i">
                <button nbButton nbStepperNext><span>{{'Next' | translate}}</span></button>
              </ng-container>
            </div>
          </div>
        </nb-step>
      </nb-stepper>
      <button (click)="sendResult()" nbButton status="success"><span>{{'Finalize' | translate}}</span></button>
    </nb-card-body>
  </nb-card>
</div>
