@import 'themes';
@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
}

;
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

nb-layout-column.remove-whitespaces {
  background-attachment: initial;
}

.fa-icon-color-success {
  color: #00d68f;
}

.fa-icon-color-primary {
  color: #36f;
}

.fa-icon-color-danger {
  color: #ff3d71;
}
