<div class="dashboard-wrapper">
  <div *ngFor="let exam of ExamList; let i = index" class="exams-wrapper">
    <nb-card size="tiny"  [nbSpinner]="this.isLoading" nbSpinnerSize="large" nbSpinnerStatus="danger">
      <nb-card-header>
        <ng-container *ngIf="isExaminer() || isAdmin()">
          <span class="exam-name" routerLink="/exams/exam/{{exam.examId}}">
            {{exam.name}}
          </span>
        </ng-container>
        <ng-container *ngIf="!isExaminer() && !isAdmin()">
          <span class="exam-name no-pointer">
            {{exam.name}}
          </span>
        </ng-container>
        <ng-container *ngIf="isExaminer() || isAdmin()">
          <div class="card-icon-actions">
            <div class="actions-item">
              <fa-icon [icon]="faVoteYea" class="fa-icon-color-primary"
                       routerLink="/competition/{{exam.examId}}/results"></fa-icon>
            </div>
            <div class="actions-item">
              <fa-icon (click)="deleteExam(exam.examId, i)" [icon]="faTrash"
                       class="fa-icon-color-danger"></fa-icon>
            </div>
            <div class="actions-item">
              <fa-icon [icon]="faEdit" class="fa-icon-color-primary"
                       routerLink="/exams/exam/{{exam.examId}}/edit"></fa-icon>
            </div>
          </div>
        </ng-container>
      </nb-card-header>
      <nb-card-body>
        <div class="card-item">
          <span>{{'Questions count' | translate}} - {{exam.questions.length}}</span>
        </div>
        <div class="card-item">
          <div class="card-item-buttons">
            <ng-container *ngIf="isExaminer() || isAdmin()">
              <div class="card-item-button">
                <button nbButton routerLink="/invites/create/{{exam.examId}}" size="medium" status='primary'>
                  {{'Create' | translate}}<br>{{'invite' | translate}}
                </button>
              </div>
            </ng-container>
            <ng-container *ngIf="isExamined()">
              <div class="card-item-button">
                <button nbButton routerLink="/competition/{{exam.examId}}/competition" size="medium"
                        status='primary'>{{'Launch' | translate}}
                </button>
              </div>
            </ng-container>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
