<div class="dashboard-wrapper">
  <ng-container *ngIf="ExamList && ExamList.length > 0">
    <div *ngFor="let exam of ExamList; let i = index" class="exams-wrapper">
      <nb-card [nbSpinner]="this.isLoading" nbSpinnerSize="large" nbSpinnerStatus="danger" size="tiny">
        <nb-card-header>
          <ng-container *ngIf="isExaminer() || isAdmin()">
          <span class="exam-name" routerLink="/exams/exam/{{exam.examId}}">
            {{exam.name}}
          </span>
          </ng-container>
          <ng-container *ngIf="!isExaminer() && !isAdmin()">
          <span class="exam-name no-pointer">
            {{exam.name}}
          </span>
          </ng-container>
          <ng-container *ngIf="isExaminer() || isAdmin()">
            <div class="card-icon-actions">
              <div class="actions-item">
                <fa-icon [icon]="faVoteYea" class="fa-icon-color-primary"
                         routerLink="/competition/{{exam.examId}}/results"></fa-icon>
              </div>
              <div class="actions-item">
                <fa-icon (click)="deleteExam(exam.examId, i)" [icon]="faTrash"
                         class="fa-icon-color-danger"></fa-icon>
              </div>
              <div class="actions-item">
                <fa-icon [icon]="faEdit" class="fa-icon-color-primary"
                         routerLink="/exams/exam/{{exam.examId}}/edit"></fa-icon>
              </div>
            </div>
          </ng-container>
        </nb-card-header>
        <nb-card-body>
          <div class="card-item">
            <span>{{'Questions count' | translate}} - {{exam.questions.length}}</span>
          </div>
          <div class="card-item">
            <div class="card-item-buttons">
              <ng-container *ngIf="isExaminer() || isAdmin()">
                <div class="card-item-button">
                  <button nbButton routerLink="/invites/create/{{exam.examId}}" size="medium" status='primary'>
                    {{'Create' | translate}}<br>{{'invite' | translate}}
                  </button>
                </div>
              </ng-container>
              <ng-container *ngIf="isExamined()">
                <div (click)="startExam(exam.examId, webcamTemplate, dialogTemplate)" class="card-item-button">
                  <button nbButton size="medium"
                          status='primary'>{{'Launch' | translate}}
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </ng-container>

  <ng-container *ngIf="(ExamList && ExamList.length < 1) || ExamList === undefined">
    <div class="empty-state">

      <div class="empty-state-inner">
        <div class="empty-state-image">
          <svg height="144px" version="1.1" viewBox="0 0 144 144" width="144px" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Empty-state-image</title>
            <desc>Created with Sketch.</desc>
            <defs>
              <circle cx="72" cy="72" id="path-1" r="72"></circle>
              <path
                d="M7.77799264,-3.32955885e-13 C6.33272899,1.32282959 5.42637079,3.22480322 5.42637079,5.33846816 C5.42637079,9.33433727 8.66566273,12.5736292 12.6615318,12.5736292 C14.7751968,12.5736292 16.6771704,11.667271 18,10.2220074 C17.384318,14.6175131 13.6091457,18 9.04395132,18 C4.04911493,18 1.77635684e-15,13.9508851 1.77635684e-15,8.95604868 C1.77635684e-15,4.39085425 3.38248693,0.61568197 7.77799264,-1.89474825e-12 Z"
                id="path-3"></path>
            </defs>
            <g fill="none" fill-rule="evenodd" id="Empty-state-image" stroke="none" stroke-width="1">
              <g id="Mountains">
                <mask fill="white" id="mask-2">
                  <use xlink:href="#path-1"></use>
                </mask>
                <g id="Mask"></g>
                <g mask="url(#mask-2)">
                  <g transform="translate(-653.500000, -5.500000)">
                    <polygon fill="#3F3F3F" id="Background" points="543 321 864 321 864 0 543 0"></polygon>
                    <g fill="none" id="Moon-Icon" stroke-width="1" transform="translate(745.000000, 27.500000)">
                      <mask fill="white" id="mask-4">
                        <use xlink:href="#path-3"></use>
                      </mask>
                      <use fill="#F8F8F8" id="Mask" xlink:href="#path-3"></use>
                    </g>
                    <g fill="none" fill-opacity="0.2" id="Cloud-group" stroke-width="1"
                       transform="translate(0.500000, 23.500000)">
                      <path
                        d="M644.298995,22 C643.466064,20.2605549 643,18.3147079 643,16.2608696 C643,8.86505639 649.043455,2.86956522 656.498435,2.86956522 C657.444728,2.86956522 658.368279,2.96616664 659.259613,3.1499714 C661.105399,1.21043489 663.721343,0 666.622261,0 C670.358406,0 673.621855,2.00778863 675.376104,4.9950875 C676.791326,4.24887418 678.406242,3.82608696 680.120696,3.82608696 C685.210362,3.82608696 689.4228,7.55214184 690.137606,12.4046452 C691.085399,12.113381 692.092757,11.9565217 693.137043,11.9565217 C698.728278,11.9565217 703.26087,16.4531401 703.26087,22 L644.298995,22 Z"
                        fill="#657490" id="Cloud-1" style="mix-blend-mode: luminosity;"></path>

                    </g>
                    <g fill="none" id="Peak" stroke-width="1" transform="translate(729.000000, 87.000000)">
                      <polygon fill="#D4E2FC" id="Path" points="34.5 69 34.5 0 69 69"></polygon>
                      <polygon fill="#C6D1ED" id="Path" points="0 69 34.5 0 55.5 69"></polygon>
                    </g>
                    <g fill="none" id="Group-6" stroke-width="1" transform="translate(661.500000, 69.000000)">
                      <polygon fill="#D4E2FC" id="Path" points="126.75 253.5 126.75 0 253.5 253.5"></polygon>
                      <polygon fill="#BCCAE4" id="Path" points="0 253.5 126.75 0 203.902174 253.5"></polygon>
                    </g>
                    <g fill="none" id="Peak" stroke-width="1" transform="translate(649.000000, 61.000000)">
                      <polygon fill="#D4E2FC" id="Path" points="35 69.5 35 0.5 69.5 69.5"></polygon>
                      <polygon fill="#C6D1ED" id="Path" points="0.5 69.5 35 0.5 56 69.5"></polygon>
                    </g>
                    <g fill="none" id="Peak" stroke-width="1" transform="translate(716.500000, 97.500000)">
                      <polygon fill="#BCCAE4" id="Path"
                               points="0.939655172 220.5 111.866962 0 179.387931 220.5"></polygon>
                    </g>
                    <g fill="none" id="Peak" stroke-width="1" transform="translate(627.000000, 82.000000)">
                      <polygon fill="#A0B0D1" id="Path" points="34.5 69.5 34.5 0.5 69 69.5"></polygon>
                      <polygon fill="#8B9BBC" id="Path" points="0 69.5 34.5 0.5 55.5 69.5"></polygon>
                    </g>
                    <g fill="none" id="Peak" stroke-width="1" transform="translate(645.000000, 34.000000)">
                      <polygon fill="#8B9BBC" id="Path" points="69 138.5 69 0.5 0 138.5"></polygon>
                      <polygon fill="#A0B0D1" id="Path" points="214.5 288.5 69 0.5 69 288.5"></polygon>
                    </g>
                    <g fill="none" id="Peak" stroke-width="1" transform="translate(490.500000, 102.000000)">
                      <polygon fill="#8B9BBC" id="Path" points="103.5 220.5 103.5 13.5 207 220.5"></polygon>
                      <polygon fill="#7C8BA8" id="Path" points="0 220.5 103.5 13.5 166.5 220.5"></polygon>
                      <polygon fill="#8B9BBC" id="Path" points="135 207 135 0 238.5 207"></polygon>
                      <polygon fill="#7C8BA8" id="Path" points="31.5 207 135 0 198 207"></polygon>
                    </g>
                    <g fill="none" id="Peak" stroke-width="1" transform="translate(582.000000, 126.000000)">
                      <polygon fill="#A0B0D1" id="Path" points="69 138.0054 69 0.0054 138 138.0054"></polygon>
                      <polygon fill="#7C8BA8" id="Path" points="0 138.0054 69 0.0054 111 138.0054"></polygon>
                    </g>
                    <g fill="none" id="Frost" stroke-width="1" transform="translate(697.000000, 34.000000)">
                      <polygon fill="#E4E4E4" id="Path"
                               points="17 0.5 0.5 33.5 9.5 24.5 17 35 24.5 29 41 48.5"></polygon>
                      <polygon fill="#F8F8F8" id="Path" points="17 0.5 17 35 24.5 29 41 48.5"></polygon>
                    </g>
                    <g fill="none" id="Peak" stroke-width="1" transform="translate(594.000000, 102.000000)">
                      <polygon fill="#A0B0D1" id="Path" points="109.5 219 109.5 0 219 219"></polygon>
                      <polygon fill="#7C8BA8" id="Path" points="0 219 109.5 0 176.152174 219"></polygon>
                    </g>
                    <g fill="none" id="Peak" stroke-width="1" transform="translate(624.000000, 115.500000)">
                      <polygon fill="#BCCAE4" id="Path" points="103.5 207 103.5 0 207 207"></polygon>
                      <polygon fill="#7C8BA8" id="Path" points="0 207 103.5 0 166.5 207"></polygon>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="empty-state-details">
          <h1 class="empty-state-title">{{'No exams found' | translate}}</h1>
          {{'No exams found' | translate}}<br>
          <ng-container *ngIf="isAdmin() || isExaminer()">
            {{'How about create a new one?' | translate}}
          </ng-container>
          <ng-container
            *ngIf="isExamined()">{{'You can use invite code to get access to exams' | translate}}</ng-container>
          <ng-container *ngIf="isAdmin() || isExaminer()">
            <button class="button" nbButton status="primary" routerLink="/exams/exam/create"> {{'Create new exam' | translate}}</button>
          </ng-container>
          <ng-container *ngIf="isExamined()">
            <button class="button" nbButton status="primary"  routerLink="/invites/append">{{'Append invite code' | translate}}</button>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #webcamTemplate let-data>
  <div [nbSpinner]="this.cameraError" class="form-camera-info" nbSpinnerSize="large" nbSpinnerStatus="danger">
    <div class="form-camera-item">
      {{'Photo manual' | translate}}
    </div>
    <div class="form-camera">
      <ng-container *ngIf="isCameraAllowed">
        <div class="webcam-wrapper">
          <div class="webcam-position">
            <webcam (imageCapture)="handleImage($event)"
                    (initError)="handleInitError($event)"
                    [allowCameraSwitch]="true"
                    [height]="webcamHeight.getValue()"
                    [imageQuality]="1"
                    [switchCamera]="nextWebcamObservable"
                    [trigger]="triggerObservable" [width]="webcamWidth.getValue()">
            </webcam>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isCameraAllowed">
        <div class="form-camera-controls">
          <div (click)="triggerSnapshot(data.examIdValue)" class="form-camera-control">
            <button nbButton status="primary">{{'Make photo' | translate}}</button>
          </div>
          <div (click)="showNextWebcam(true)" *ngIf="multipleWebcamsAvailable" class="form-camera-control">
            <!--Move to NEXT camera-->
            <button nbButton status="primary">{{'Next camera' | translate}}</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #dialogTemplate let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <div>
        {{'For accessing exam you should provide MRZ of your document. Continue?' | translate}}
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="warning-wrapper">
        <div class="buttons">
          <div class="button-item">
            <button (click)="setAccepted(true)" nbButton status="success">{{'Accept' | translate}}</button>
          </div>
          <div class="button-item">
            <button (click)="setAccepted(false)" nbButton status="danger">{{'Decline' | translate}}</button>
          </div>
        </div>
      </div>

    </nb-card-body>
  </nb-card>

</ng-template>
