<div class="manage-user-wrapper">
  <nb-card [nbSpinner]="this.isLoading" nbSpinnerSize="large" nbSpinnerStatus="danger">
    <nb-card-header>
      <div class="card-header-wrapper">
        <div>
          {{'Edit user' | translate}}
        </div>
        <div>
          <fa-icon (click)="deleteUser()" [icon]="faTrash" class="fa-icon-color-danger"></fa-icon>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="form">
        <div class="form-wrapper">
          <div class="form-item">
            <label for="email">{{'User\'s email' | translate}}</label>
            <input formControlName="email" id="email" nbInput status="danger">
          </div>
          <div class="form-item">
            <label for="role">{{'User\'s role' | translate}}</label>
            <nb-select formControlName="role" id="role" status="danger">
              <nb-option *ngFor="let role of options" [value]="role">{{role}}</nb-option>
            </nb-select>
          </div>
          <div class="form-item">
            <label for="password">{{'Users\'s password' | translate}}</label>
            <input formControlName="password" id="password" nbInput status="primary">
          </div>
          <div class="form-item">
            <button (click)="updateUser()" nbButton status="danger">{{'Update user' | translate}}</button>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
