@import '../../../../themes.scss';

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item-wrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nb-card {
  max-width: 600px;
  min-width: 40%;
}

input {
  min-width: 20vw;
}

.form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.font-color-black {
  color: #222b45
}

.form-camera-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form-camera-info {
  width: 100%;
  margin-bottom: 25px;
}

video {
  max-width: 90vw;
  max-height: 90vh;
}

.form-camera-item {
  margin-bottom: 25px;
}

.webcam-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.webcam-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
