<div class="content-wrapper">
  <nb-card size="medium">
    <nb-card-body class="">
      <nb-card-header><span i18n>Регистрация</span></nb-card-header>
      <form [formGroup]="form">
        <div class="form-wrapper">
          <div class="form-item-wrapper">
            <label for="email" i18n>Введите свою почту</label>
          </div>
          <div class="form-item-wrapper">
            <input autocomplete="current-email" fieldSize="large" formControlName='email' id='email' name='email'
                   nbInput
                   placeholder="Email" shape="rectangle" type="email">
          </div>
          <div class="form-item-wrapper">
            <label for="password" i18n>Введите свой пароль</label>
          </div>
          <div class="form-item-wrapper">
            <input autocomplete="current-password" fieldSize="large" formControlName='password' id="password"
                   name='password'
                   nbInput placeholder="*******" shape="rectangle" type="password">
          </div>

          <div class="form-item-wrapper" id='toggle'>
            <nb-checkbox (checkedChange)="toggle($event)" i18n status="basic">Зарегистрироваться <br> как экзаменатор
            </nb-checkbox>
          </div>
          <div class="form-item-wrapper">
            <div (click)=signIn() class="button-div">
              <button i18n nbButton>Зарегистрироваться</button>
            </div>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
<!-- form [formGroup="form"> -->
