<div class="content-wrapper">
  <nb-stepper>
    <nb-step [label]="this.translateService.instant('Register')" [stepControl]="form">
      <nb-card size="medium">
        <nb-card-body>
          <nb-card-header><span>{{'Register' | translate}}</span></nb-card-header>
          <form [formGroup]="form">
            <div class="form-wrapper">
              <div class="form-item-wrapper">
                <label for="email">{{'Enter your email' | translate}}</label>
              </div>
              <div class="form-item-wrapper">
                <input autocomplete="current-email" fieldSize="large" formControlName='email' id='email' name='email'
                       nbInput
                       placeholder="Email" shape="rectangle" type="email">
              </div>
              <div class="form-item-wrapper">
                <label for="password">{{'Enter your password' | translate}}</label>
              </div>
              <div class="form-item-wrapper">
                <input autocomplete="current-password" fieldSize="large" formControlName='password' id="password"
                       name='password'
                       nbInput placeholder="*******" shape="rectangle" type="password">
              </div>

              <div class="form-item-wrapper" id='toggle'>
                <nb-checkbox (checkedChange)="toggleRole($event)" status="basic">{{'Register' | translate}}
                  <br>{{'as examiner' | translate}}
                </nb-checkbox>
              </div>
              <div class="form-item-wrapper">
                <div class="button-div">
                  <button nbButton nbStepperNext>{{'Next' | translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </nb-step>
    <nb-step [label]="this.translateService.instant('Add document data')">
      <nb-card size="medium">
        <nb-card-body>
          <nb-card-header><span>{{'Register' | translate}}</span></nb-card-header>
          <div>
            <div class="form-item-wrapper">
              <span>{{'Photo description' | translate}}</span>
            </div>
            <div *ngIf="!cameraError && !documentPhoto" class="form-item-wrapper">
              <button (click)="allowCamera(webcamTemplate)" nbButton status="primary">
                {{'Open camera' | translate}}
              </button>
            </div>
            <div *ngIf="!cameraError && documentPhoto" class="form-item-wrapper">
              <button (click)="retakePhoto(webcamTemplate)" nbButton
                      status="primary">{{'Retake photo' | translate}}</button>
            </div>
            <div *ngIf="cameraError" class="form-item-wrapper">
              {{'cameraError' | translate}}
            </div>
            <div class="form-item-wrapper">
              <div (click)="validatePhoto()" class="button-div">
                <button nbButton nbStepperNext>{{'Register' | translate}}</button>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </nb-step>
  </nb-stepper>
</div>

<ng-template #webcamTemplate>
  <div [nbSpinner]="this.cameraError" class="form-camera-info" nbSpinnerSize="large" nbSpinnerStatus="danger">
    <div class="form-camera-item">
      {{'Photo manual' | translate}}
    </div>
    <div class="form-camera">
      <ng-container *ngIf="isCameraAllowed && !documentPhoto">
        <div class="webcam-wrapper">
          <div class="webcam-position">
            <webcam (imageCapture)="handleImage($event)"
                    (initError)="handleInitError($event)"
                    [allowCameraSwitch]="true"
                    [height]="this.webcamHeight.getValue()"
                    [imageQuality]="1"
                    [switchCamera]="nextWebcamObservable"
                    [trigger]="triggerObservable" [width]="this.webcamWidth.getValue()">
            </webcam>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isCameraAllowed">
        <div class="form-camera-controls">
          <div (click)="triggerSnapshot()" class="form-camera-control">
            <button nbButton status="primary">{{'Make photo' | translate}}</button>
          </div>
          <div (click)="showNextWebcam(true)" *ngIf="multipleWebcamsAvailable" class="form-camera-control">
            <!--Move to NEXT camera where true = direction-->
            <button nbButton status="primary">{{'Next camera' | translate}}</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>
