.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item-wrapper {
  margin-top: 25px;
}

nb-card {
  max-width: 600px;
  min-width: 40%;
}

input {
  min-width: 20vw;
}

.form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
