<div class="exam-wrapper">
  <nb-card [nbSpinner]="this.isLoading" nbSpinnerSize="large" nbSpinnerStatus="danger">
    <nb-card-header>
      <div class="exam-form-wrapper">
        <div class="examNameWrapper">
          <label for="examName">{{'Enter exam name' | translate}}</label>
          <form [formGroup]=examNameForm>
            <input formControlName="examName" id="examName" nbInput type="text">
          </form>
        </div>
      </div>
    </nb-card-header>
    <nb-accordion multi>
      <nb-accordion-item *ngFor="let question of exam.questions; let i = index">
        <nb-accordion-item-header>
          <div class="question-wrapper"></div>
          <fa-icon (click)="removeQuestion(i)" [icon]="faTrash" class="trash-icon fa-icon-color-danger"></fa-icon>
          <span>{{question.questionMessage}}</span>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-list>
            <nb-list-item *ngFor="let answer of question.answers; let j = index">
              <div class="answer-wrapper">
                <div class="answer-data-wrapper">
                  <fa-icon (click)="removeAnswer(i,j)" [icon]="faTrash"
                           class="trash-icon fa-icon-color-danger"></fa-icon>
                  <span>{{answer.value}}</span>
                </div>
                <ng-container *ngIf="answer.isCorrect">
                  <div>
                    <fa-icon [icon]="faCheck" class="fa-icon-color-success"></fa-icon>
                  </div>
                </ng-container>
              </div>
            </nb-list-item>
            <nb-list-item>
              <div (click)="addAnswer($event)" class="add-wrapper show-answer">
                <div>
                  <span>{{'Add answer' | translate}}</span>
                </div>
                <div>
                  <fa-icon [icon]="faPlus" class="fa-icon-color-primary"></fa-icon>
                </div>
              </div>

              <div class="add-wrapper save-answer hide">
                <div class="add-answer-data-wrapper">
                  <div class="add-answer-input-wrapper">
                    <label>{{'Answer value' | translate}}</label>
                    <input nbInput>
                  </div>
                  <nb-checkbox class="add-answer-isCorrect">
                    <span>{{'Is correct' | translate}}</span>
                  </nb-checkbox>
                </div>
                <div class="icon-big flex-center-vertical">
                  <fa-icon (click)="saveAnswer(i, $event)" [icon]="faSave" class="fa-icon-color-primary"></fa-icon>
                </div>
              </div>
            </nb-list-item>
          </nb-list>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item disabled>
        <nb-accordion-item-header>
          <div (click)="addQuestion()" class="add-wrapper add-question-accordion-item" id="add-question-block">
            <div>
              <span>{{'Add question' | translate}}</span>
            </div>
            <div>
              <fa-icon [icon]="faPlus" class="fa-icon-color-primary"></fa-icon>
            </div>
          </div>

          <div class="add-wrapper add-question-accordion-item hide" id="save-question-block">
            <div class="add-answer-input-wrapper">
              <label for="question-input">{{'Question value' | translate}}</label>
              <form [formGroup]=examQuestionForm>
                <input formControlName="examQuestion" id="question-input" nbInput>
              </form>
            </div>
            <div class="icon-big flex-center-vertical">
              <fa-icon (click)="saveQuestion()" [icon]="faSave" class="fa-icon-color-primary"></fa-icon>
            </div>
          </div>
        </nb-accordion-item-header>
      </nb-accordion-item>
    </nb-accordion>
    <button (click)="createExam()" nbButton status="success">
      <span class="disable-top-round">{{'Save exam' | translate}}</span>
    </button>
  </nb-card>
</div>
