.manage-users-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nb-card {
  max-width: 300px;
  min-width: 30%;
}

.card-header-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

fa-icon {
  cursor: pointer;
}

.card-body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
