<div class="content-wrapper">
  <nb-card size="medium">
    <nb-card-body>
      <nb-card-header>{{'Login' | translate}}</nb-card-header>
      <form [formGroup]="form">
        <div class="form-wrapper">
          <div class="form-item-wrapper">
            <label for="email">{{'Enter your email' | translate}}</label>
          </div>
          <div class="form-item-wrapper">
            <input autocomplete="current-email" fieldSize="large" formControlName='email' id='email' name='email'
                   nbInput
                   placeholder="Email" shape="rectangle" type="email">
          </div>
          <div class="form-item-wrapper">
            <label for="password">{{'Enter your password' | translate}}</label>
          </div>
          <div class="form-item-wrapper">
            <input autocomplete="current-password" fieldSize="large" formControlName='password' id="password"
                   name='password'
                   nbInput placeholder="*******" shape="rectangle" type="password">
          </div>
          <div class="form-item-wrapper">
            <div (click)=login() class="button-div">
              <button nbButton>{{'Login' | translate}}</button>
            </div>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
